.header{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}

.header_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}

.header2_div{
    font-size: 18px;
}
.result-para-tag{
    box-shadow: 5px 5px 5px grey;
}

#copy_right_footer{
    position: fixed;
    color: white;
    width: 100%;
    background-color: gray;
    bottom: 0px;
    text-align: center;
    line-height: 3;
}

canvas{
    border: 5px white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}